{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is who I am.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Name</h1>
            <p>Teppei Iwaoka</p>
            <hr>
            <h1>Date of Birth</h1>
            <p>31-07-1995</p>
            <hr>
            <h1>Education</h1>
            <p>Bachelor of Maritime Sciences in Kobe University.</p>
            <hr>
        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}